{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Contact</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_errors(form) }}

            {{ form_start(form) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.sujet) }}
                {{ form_row(form.message) }}

                <button type="submit" class="btn btn-primary w-100">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

